{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "layout.html.twig" %}

{% block maincontent %}
                    <div class="well well-sm">
                        <h1>Actividades{% if detail %}: {{ detail }}{% endif %}</h1>
                    </div>
                    {% if events %}
                    {% for profile in events %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2>{{ profile.info.profile_group_display_name }} {{ profile.info.profile_display_name }}</h2>
                        </div>
                        <div class="panel-body">
                            {% for activity in profile.data %}
                            <h3>{{ activity.info.activity_display_name }}</h3>
                            {% if activity.info.activity_description %}<small>{{ activity.info.activity_description }}</small>{% endif %}
                            <table class="table table-striped table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-2">Calendario</th>
                                        <th class="col-md-7">Actividad</th>
                                        <th class="col-md-3">Documentos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for event in activity.data %}
                                    <tr {% if event.completed_date %}class="success"{% endif %}>
                                        <td>{{ event.period_description }} {{ parsePeriod(event.from_week, event.to_week) }}</td>
                                        <td><a href="{{ urlFor('event', event) }}">{{ event.display_name }}</a></td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="alert alert-danger">
                        No hay ninguna actividad para mostrar
                    </div>
                    {% endif %}
{% endblock %}