{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}
<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- HTML5 shim, para que IE6-8 soporte elementos HTML5 -->
        <!--[if lt IE 9]>
          <script src="lib/html5shim/html5.js"></script>
        <![endif]-->
        <meta charset="utf-8">
        <title>{{ config['appname'] }}</title>
        {% if config['base_url'] %}<base href="{{ config['base_url'] }}">{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/bootstrap/css/font-awesome.min.css">
        <link rel="shortcut icon" href="img/favicon.ico" />
        <link rel="apple-touch-icon" href="img/mobile-favicon.png" />
        <link rel="stylesheet" href="css/app.css" />
    </head>
    <body>
        <div class="navbar navbar-inverse">

            <div class="container">
                <a class="navbar-brand" href="{{ urlFor('inicio') }}"><span class="icon-cloud"></span> {{ config['appname'] }}</a>
                <p class="navbar-text thin pull-left hidden-sm">{{ organization.display_name }}</p>
                {% block navbar %}
                {% endblock %}
            </div><!--/.container -->
        </div><!--/.navbar -->

        <div class="container">
        {% block breadcrumb %}
            {% if search %}
            <form class="pull-right hidden-print visible-lg" action="">
                <input type="text" class="input-small search-bar" placeholder="Buscar...">
            </form>
            {% endif %}
            {% if navigation %}
            <ul class="breadcrumb">
                <li><a href="{{ urlFor('inicio') }}"><span class="icon-home icon-large"></span></a></li>
                {% for section in navigation %}
                {% if loop.last == true %}
                <li class="active">{{ section.display_name }}</li>
                {% else %}
                <li><a href="{{ section.target }}" >{{ section.display_name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% if search %}
            <div class="well well-small hidden-print hidden-lg">
                <form action="">
                    <input type="text" class="input-small search-bar col-lg-12 form-control" placeholder="Buscar...">
                </form>
            </div>
            {% endif %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        </div>
        <footer class="hidden-print">
        {% block footer %}
            <p>
                &copy; 2009-2013, Luis Ramón López López
            </p>
        {% endblock %}
        </footer>
        <script src="lib/jquery/jquery.min.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]>
          <script src="lib/respond/respond.js"></script>
        <![endif]-->
    </body>
</html>
