{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}
<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- HTML5 shim, para que IE6-8 soporte elementos HTML5 -->
        <!--[if lt IE 9]>
          <script src="lib/html5shiv/html5.js"></script>
        <![endif]-->
        <meta charset="utf-8">
        <title>{{ config['appname'] }}{% if organization.display_name %} - {{ organization.display_name }}{% endif %}</title>
        {% if config['base_url'] %}<base href="{{ config['base_url'] }}">{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="lib/bootstrap/css/font-awesome.min.css">
        <link rel="shortcut icon" href="img/favicon.ico" />
        <link rel="apple-touch-icon" href="img/mobile-favicon.png" />
        {% block stylesheets %}
        {% endblock %}        
        <link rel="stylesheet" href="css/app.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" id="main" href="{{ urlFor('frontpage') }}"><span class="icon-cloud"></span> {{ config['appname'] }}</a>
            </div><!--/.container -->
            <p class="navbar-text thin hidden-xs">{% if organization['logo'] %}<img src="{{organization['logo']}}" width="16" height="16"></img>&nbsp;{% endif %}{% if not user %}<a href="{{ urlFor('organization') }}" class="navbar-link">{% endif %}{{ organization['display_name'] }}{% if not user %}</a>{% endif %}</p>
            {% block navbar %}
            {% endblock %}
            </div>
        </nav><!--/.navbar -->

        <div class="container">
        <a class="sr-only" href="#content">Ir al contenido</a>
        {% block breadcrumb %}
            {% if search %}
            <nav role="search">
                <form class="pull-right hidden-print visible-md visible-lg" action="">
                    <input type="text" class="input-small search-bar" placeholder="Buscar...">
                </form>
            </nav>
            {% endif %}
            {% if navigation %}
            <nav>
                <ul class="breadcrumb hidden-print">
                    <li><a href="{{ urlFor('frontpage') }}"><span class="icon-home icon-large"></span></a></li>
                    {% for section in navigation %}
                    {% if loop.last == true %}
                    <li class="active">{{ section.display_name }}</li>
                    {% else %}
                    <li><a href="{{ section.target }}" >{{ section.display_name }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
            {% if search %}
            <nav role="search" class="well well-small hidden-print hidden-md hidden-lg">
                <form action="">
                    <input type="text" class="input-small search-bar col-md-12 form-control" placeholder="Buscar...">
                </form>
            </nav>
            {% endif %}
        {% endblock %}
            <main role="main" id="content">
            {% block content %}
            {% endblock %}
            </main>
        </div>
        <footer class="hidden-print" role="contentinfo">
        {% block footer %}
            <p>
                &copy; 2009-2013, Luis Ramón López López &mdash; Grupo de trabajo ÁTICA
            </p>
        {% endblock %}
        </footer>
        <script src="lib/jquery/jquery.min.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]>
          <script src="lib/respond/respond.min.js"></script>
        <![endif]-->
        {% block scripts %}
        {% endblock %}
        <script type="text/javascript">
            $(function() { $('.showjs').css('display', 'block'); });
        </script>
    </body>
</html>
