{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "tree.html.twig" %}
{% block scripts %}
<script>
function switchChecks(e) {
    if (!$(e).prop('checked')) {
        $('.check').removeAttr('checked');
    }
    else {
        $('.check').prop('checked', 'checked');
    }
    console.log($(e).prop('checked'));
    console.dir($(e));
}
</script>
{% endblock %}
{% block maincontent %}
{% import "macros.twig" as m %}
<div class="panel panel-info">
    <div class="panel-heading">
    <h1>Archivado masivo de carpetas</h1>
    </div>
</div>
<form class="form-horizontal" role="form" method="post" action="{{ url }}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Instrucciones: </strong> Seleccione las carpetas que serán archivadas de forma automática y luego
            elija el nombre con el que se identificarán en el histórico
        </div>
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th class="col-md-4"><input type="checkbox" class="showjs-inline" onChange="switchChecks(this);" checked="checked">
                        Carpeta</th>
                    <th class="col-md-3">Localización</th>
                    <th class="col-md-4">Descripción</th>
                    <th class="col-md-1">Total a archivar</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td><input type="checkbox" class="check" name="item[]" value="{{ item['id'] }}" checked="checked">
                        {{ item['display_name'] }}
                    </td>
                    <td>
                        <a href="{{ urlFor('tree', {'id': item['category_id']}) }}">{{ item['category_display_name'] }}</a>
                    </td>
                    <td>
                        {{ item['description'] }}
                    </td>
                    <td>
                        {{ item['total'] }}
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="4">
                            <h3>No hay carpetas pendientes de archivo</h3>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ m.input_text('displayname', 10, 'Nombre del archivo', 'Nombre con el que se archivarán los documentos',
            '', true, null, '', 'required') }}
        </div>
        <div class="panel-footer hidden-print">
            <p><strong>Advertencia: </strong>La operación no se puede deshacer. Se borrarán las marcas de actividades
                completadas de todos los usuarios. Los documentos archivados seguirán estando disponibles al pulsar
                sobre el botón del reloj de cada una de las carpetas afectadas.</p>
            <button type="submit" name="archive" class="btn btn-success">Archivar las carpetas
                seleccionadas</button>
        </div>
    </div>
</form>
{% endblock %}
