{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2015: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "tree.html.twig" %}
{% block maincontent %}
{% block upload_main_content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Estado de la carpeta</h1>
    </div>
    <div class="panel-body">
        <h2>Carpeta: {{ folder['display_name'] }}</h2>
        {% if folder.description %}<h4>{{ folder.description | nl2br }}</h4>{% endif %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Más información</h3>
        <dl class="dl-horizontal">
            <dt>Responsable:</dt>
            <dd>
            {% for profile in manager_profiles %}{% if not loop.first %}, {% endif %}{% if user_profiles[profile.id] %}<u>{% endif %}{{ profile.display_name_neutral }}{% if profile.display_name is not null %} ({{ profile.display_name }}){% endif %}{% if user_profiles[profile.id] %}</u>{% endif %}{% endfor %}
            </dd>
            <dt>Pueden enviar:</dt>
            <dd>
            {% for profile in upload_profiles %}{% if not loop.first %}, {% endif %}{% if user_profiles[profile.id] %}<u>{% endif %}{{ profile.display_name_neutral }}{% if profile.display_name is not null %} ({{ profile.display_name }}){% endif %}{% if user_profiles[profile.id] %}</u>{% endif %}{% endfor %}
            </dd>
            {% if folder.is_restricted and restricted_profiles %}
            <dt>Pueden visualizar:</dt>
            <dd>
            {% for profile in restricted_profiles %}{% if not loop.first %}, {% endif %}{% if user_profiles[profile.id] %}<u>{% endif %}{{ profile.display_name_neutral }}{% if profile.display_name is not null %} ({{ profile.display_name }}){% endif %}{% if user_profiles[profile.id] %}</u>{% endif %}{% endfor %}
            </dd>
            {% endif %}
        </dl>
    </div>
    {% if not (local_stats or stats) %}
    <div class="panel-footer">
        <a class="btn btn-info" href="{{ last_url }}">Volver</a>
    </div>
    {% endif %}
</div>
{% if stats %}
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Cuadro resumen de entregas</h3>
        {% set sum_c = 0 %}{% set sum_total = 0 %}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="col-md-10">Perfil</th><th class="col-md-2">Entregas realizadas</th>
                </tr>
            </thead>

            <tbody>
                {% for item in stats %}
                {% set complete = (item['c'] == item['total']) %}
                <tr class="{{ complete ? 'success' : 'warning' }}">
                    <td>
                        <span class="icon-{{ complete ? 'ok' : 'remove'}}"></span>
                        {{ item['display_name_neutral'] }}{% if item['display_name'] %} ({{ item['display_name'] }}){% endif %}
                    </td>
                    <td>
                        {{ item['c'] }}/{{ item['total'] }} ({{ (100*item['c']/item['total']) | number_format }}%)
                    </td>
                </tr>
                {% set sum_c = sum_c + item['c'] %}{% set sum_total = sum_total + item['total'] %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th><th>{{ sum_c }}/{{ sum_total }} ({{ (100*sum_c/sum_total) | number_format }}%)</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="panel-footer">
        <a class="btn btn-info" href="{{ last_url }}">Volver</a>
    </div>
</div>
{% endif %}
{% if local_stats %}
{% set now = (current-base+48) % 48 %}
{% for event_id, local_stats_item in local_stats %}
    {% set sum_c = 0 %}
    {% set sum_total = 0 %}
    {% set it = (local_stats_item | first)[0] %}
    {% set from = (it.from_week-base+48) % 48 %}
    {% set to = (it.to_week+it.grace_period-base+48) % 48 %}
    {% set late = ((now>=from) and (now>to)) %}
    {% set ready = ((now>=from) and (now<=to)) %}
<div class="panel panel-default">
    <div class="panel-heading">

        <h4>
            <strong>Actividad: </strong>{{ it['event_display_name'] }}{% if user['is_admin'] %} <a class="delivery-tools hidden-print" title="Modificar actividad" href="{{ urlFor('manageevent', { 'id': event_id }) }}"><span class="icon-pencil"></span></a>{% endif %}
        <h4>
        <p>
            <strong>Plazo: </strong>{{ it.period_description ? it.period_description : parsePeriod(it.from_week, it.to_week, period_labels) }}
            {% if it.force_period %} <span class="icon-{{ ready ? "un" }}lock"></span>{% endif %}
        </p>

    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tbody>
                {% for profile_id, items in local_stats_item %}
                    {% set profile = all_profiles[profile_id] %}
                    <tr>
                        <td colspan="2" class="profile profile-detail">
                            {{ profile['display_name_neutral'] }} {{ profile['display_name'] }}
                        </td>
                    </tr>
                    {% for item in items %}
                    <tr class="{% if item.c %}success{% elseif ready %}warning{% elseif late %}danger{% endif %}">
                        <td class="col-md-10">
                            <span class="icon-{{ item.c ? 'ok' : 'remove'}}"></span>
                            {{ item['display_name'] }}
                        </td>
                        <td class="col-md-2">
                            {% if item['c'] %}
                                <a href="{{ urlFor('download', { 'id': item.delivery_id, 'cid': folder.category_id, 'kind': 1 }) }}">Descargar entrega</a>
                            {% elseif not is_manager and item.force_period and late %}
                                <button class="btn btn-danger btn-block" disabled="1">No se puede entregar. Fuera de plazo</button>
                            {% else %}
                                No entregado
                            {% endif %}
                        </td>
                    </tr>
                    {% set sum_c = sum_c + item['c'] %}{% set sum_total = sum_total + 1 %}
                    {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th><th>{{ sum_c }}/{{ sum_total }} ({{ (100*sum_c/sum_total) | number_format }}%)</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="panel-footer">
        <a class="btn btn-info" href="{{ last_url }}">Volver</a>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
{% endblock %}
