{% for folder in data %}
{% set info = folders[folder.id] %}
{% set buttons = user['is_admin'] or info['upload_permission'] or info['manage_permission'] %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>{{ info['display_name'] }}
            {% if user['is_admin'] %}&nbsp;<small class="pull-right hidden-print"><a class="folder-tools" href="{{ urlFor('managefolder', { 'id': info.id })  }}"><span class="icon-cog"></span></a> {% if not loop.first %}<a class="folder-tools" title="Subir carpeta" href="{{ urlFor('folderoperation', { 'id': info['id'], 'data': lastinfo['id'], 'oper': 'swap' }) }}"><span class="icon-arrow-up"></span></a>{% endif %} {% if not loop.last %}<a class="folder-tools" title="Bajar carpeta" href="{{  urlFor('folderoperation', { 'id': info['id'], 'oper': 'swapnext' }) }}"><span class="icon-arrow-down"></span></a>{% endif %}</small>{% endif %}
        </h2>
        {% if buttons and top_buttons %}
        {% include 'folder_buttons.html.twig' %}
        {% endif %}
    </div>
    <div class="panel-body">
        {% if info['description'] %}<blockquote><p>{{ info['description'] | nl2br }}</p></blockquote>{% endif %}
    </div>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th class="col-md-7">Documento</th>
                <th class="col-md-2">{{ info['show_revision_nr'] ? 'Revisión' : 'Fecha' }}</th>
                <th class="col-md-2">Enviado por</th>
            </tr>
        </thead>
        <tbody>
            {% set lastProfile = -1 %}
            {% for delivery in folder.data %}
                {% set profile = folderProfiles[delivery.profile_id] %}
                {% set personId = delivery['uploader_person_id'] %}
                {% if (info.is_divided) and (lastProfile != delivery.profile_id) and (delivery.profile_id != NULL) %}
                <tr>
                    <td colspan="3" class="profile">
                        {{ [profile.display_name_neutral, profile.display_name_male, profile.display_name_female][profileGender[delivery.profile_id]] }} {{ profile.display_name }}
                    </td>
                </tr>
                {% set lastProfile = delivery.profile_id %}
                {% endif %}
            <tr>
                <td class="thin"><a href="{{ urlFor('download', { 'id': delivery.id, 'cid': info.category_id, 'kind': 1 }) }}">{{ delivery.display_name | replace({'_':' '})}}</a> 
                {% if user['is_admin'] or info['manage_permission'] or delivery['uploader_person_id'] == user['id'] %}<a class="delivery-tools hidden-print" title="Modificar envío" href="{{ urlFor('modify', {'id': delivery['id'], 'folderid': info['id'] }) }}"><span class="icon-pencil"></span></a>{% endif %}</td>
                <td>{% if info['show_revision_nr'] %}{{ delivery['revision_nr'] ~ ' ('}}{% endif %}<abbr title="{{ delivery.upload_date | date('H:i') }}">{{ delivery.upload_date | date('Y/m/d') }}</abbr>{% if info['show_revision_nr'] %}){% endif %}</td>
                <td><a href="{{ urlFor('personal', { 'id': personId, 'section': 0 }) }}">{{ persons[personId]['display_name']}}</a></td>
            </tr>
            {% else %}
            <tr class="warning">
                <td colspan="3">
                    Aún no hay documentos registrados
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if buttons and not top_buttons %}
    <div class="panel-footer">
    {% include 'folder_buttons.html.twig' %}
    </div>
    {% endif %}
</div>
{% set lastinfo = info %}
{% endfor %}
