{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ram贸n L贸pez L贸pez

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "menu.html.twig" %}

{% block content %}
            {% if flash['home_info'] %}
            <div class="alert alert-info col-lg-12">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% if flash['home_info'] == 'logout' %}
                <strong>Ha salido de la aplicaci贸n.</strong> Puede volver a entrar <a href="{{ urlFor('entrar') }}" class="alert-link">desde este enlace</a>.
                {% elseif flash['home_info'] == 'no organization' %}

                {% else %}
                <strong>{{ flash['home_info_summary'] }}</strong> {{ flash['home_info_detail'] }}
                {% endif %}
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-2">
                    {% block sidebar %}
                    {% if sidebar %}
                    <div class="list-group sidebar">
                        {% for element in sidebar %}
                        <a class="list-group-item{% if not element.target %} list-group-item-text{% endif %}{% if element.active %} active{% endif %}"{% if element.target %} href="{{ element.target }}"{% endif %}>
                            {% if element.icon %}<span class="icon-{{ element.icon }}"></span> {% endif %}
                            {% if element.badge %}<span class="badge">{{ element.badge }}{% if element.badge_icon %} <span class="icon-{{ element.badge_icon }}"></span>{% endif %}</span>{% endif %}
                            {{ element.caption }}
                        </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endblock %}
                </div>
                <div class="col-lg-10">
                    {% block maincontent %}
                    {% endblock %}
                </div>
            </div>
{% endblock %}