{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "menu.html.twig" %}
{%
    set period_labels = {
        'months' : ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio',
                     'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'],
        'weeks': ['1ª sem. ', '2ª sem. ', '3ª sem. ', '4ª sem. '],
        'halfmonths': ['1ª quincena ', '2ª quincena ']
    }
%}
{% block content %}
            {% if flash['home_info'] %}
            <div class="alert alert-info col-md-12 alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% if flash['home_info'] == 'logout' %}
                <strong>Ha salido de la aplicación.</strong> Puede volver a entrar <a href="{{ urlFor('login') }}" class="alert-link">desde este enlace</a>.
                {% elseif flash['home_info'] == 'no organization' %}

                {% else %}
                <strong>{{ flash['home_info_summary'] }}</strong> {{ flash['home_info_detail'] }}
                {% endif %}
            </div>
            {% endif %}
            {% if flash['home_error'] %}
            <div class="alert alert-danger col-md-12 alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% if flash['home_error'] == 'no_delivery' %}
                <strong>No se puede descargar el documento.</strong> El documento solicitado no existe o bien no tiene permiso para acceder a él.
                {% elseif flash['home_error'] == 'no_document' %}
                <strong>No se puede descargar el documento.</strong> El documento no se encuentra en la base de datos. Consulte con el coordinador de calidad.
                {% else %}
                <strong>{{ flash['home_error_summary'] }}</strong> {{ flash['home_error_detail'] }}
                {% endif %}
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-2 hidden-print">
                    {% block sidebar %}
                    {% if sidebar %}
                        <nav>
                        {% for group in sidebar %}
                            <div class="list-group sidebar">
                                {% for element in group %}
                                <a class="list-group-item{% if not element.target %} list-group-item-text{% endif %}{% if element.active %} active{% endif %}"{% if element.target %} href="{{ element.target }}"{% endif %}>
                                    {% if element.icon %}<span class="icon-{{ element.icon }}"></span> {% endif %}
                                    {% if element.badge %}<span class="badge">{{ element.badge }}{% if element.badge_icon %} <span class="icon-{{ element.badge_icon }}"></span>{% endif %}</span>{% endif %}
                                    {{ element.caption }}
                                </a>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </nav>
                    {% endif %}
                    {% endblock %}
                </div>
                <div class="col-md-10">
                    {% if flash['save_ok'] %}
                    <div class="alert alert-success col-md-12 alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {% if flash['save_ok'] == 'ok' %}
                        <strong>Cambios guardados con éxito.</strong> La información se ha almacenado en la base de datos.
                        {% elseif flash['save_ok'] == 'delete' %}
                        <strong>Elemento eliminado con éxito.</strong> La base de datos se ha actualizado.
                        {% elseif flash['save_ok'] == 'upgrade' %}
                        <strong>Actualización realizada con éxito.</strong> La base de datos está al día.
                        {% else %}
                        <strong>{{ flash['save_ok_summary'] }}</strong> {{ flash['save_ok_detail'] }}
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if flash['save_error'] %}
                    <div class="alert alert-danger col-md-12 alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {% if flash['save_error'] == 'error' %}
                        <strong>Ocurrió un error guardando los cambios.</strong> La información no se ha almacenado en la base de datos.
                        {% elseif flash['save_error'] == 'oldpassword' %}
                        <strong>No se puede realizar el cambio de contraseña.</strong> La contraseña actual no coincide por lo que se ha denegado el cambio.
                        {% elseif flash['save_error'] == 'passwordmatch' %}
                        <strong>No se realizó el cambio de contraseña.</strong> Las nuevas contraseñas no coinciden. Inténtelo de nuevo.
                        {% elseif flash['save_error'] == 'passwordlength' %}
                        <strong>No se realizó el cambio de contraseña.</strong> La nueva contraseña es demasiado corta. Inténtelo de nuevo.
                        {% elseif flash['save_error'] == 'delete' %}
                        <strong>No se ha eliminado el elemento.</strong> Ha ocurrido un error durante el proceso. Contacte con el administrador.
                        {% else %}
                        <strong>{{ flash['save_error_summary'] }}</strong> {{ flash['save_error_detail'] }}
                        {% endif %}
                    </div>
                    {% endif %}
                     <div class="print showjs pull-right hidden-print hidden-xs"><a href="#" onclick="window.print(); return false" title="Imprimir contenido"><span class="icon-print icon"></span></a>&nbsp;</div>
                    {% block maincontent %}
                    {% endblock %}
                </div>
            </div>
{% endblock %}