{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% macro select_date(prefix, current, showtime, classes) %}
{% set year = current | slice(0, 4) %}
{% set month = current | slice(4, 2) %}
{% set day = current | slice(6, 2) %}
{% set hour = current | slice(8, 2) %}
{% set minute = current | slice(10, 2) %}
{% set months = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio',
                 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'] %}

<div class="row">
    <div class="col-sm-2">
        <select name="{{ prefix }}_year" class="form-control select {{ classes }}">
            {% for n in (year-20)..(year+20) %}
            <option value="{{ n }}" {{ year == n ? ' selected'}}>{{n}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-3">
        <select name="{{ prefix }}_month" class="form-control select {{ classes }}">
            {% for n in 1..12 %}
            {% set dn = (n<10 ? '0') ~ n %}
            <option value="{{ dn }}" {{ month == n ? ' selected'}}>{{ months[n-1] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-2">
        <select name="{{ prefix }}_day" class="form-control select {{ classes }}">
            {% for n in 1..31 %}
            {% set dn = (n<10 ? '0') ~ n %}
            <option value="{{ dn }}" {{ day == n ? ' selected'}}>{{n}}</option>
            {% endfor %}
        </select>
    </div>
    {% if showtime %}
    <div class="col-sm-2">
        <select name="{{ prefix }}_hour" class="form-control select {{ classes }}">
            {% for n in 0..23 %}
            {% set dn = (n<10 ? '0') ~ n %}
            <option value="{{ dn }}" {{ hour == n ? ' selected'}}>{{ dn }} h.</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-2">
        <select name="{{ prefix }}_minute" class="form-control select {{ classes }}">
            {% for n in 0..59 %}
            {% set dn = (n<10 ? '0') ~ n %}
            <option value="{{ dn }}" {{ minute == n ? ' selected'}}>{{ dn }} m.</option>
            {% endfor %}
        </select>
    </div>    
    {% endif %}
</div>
{% endmacro %}