{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2015: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% macro input_text(name, mdLength, description, placeholder, value, enabled = true, maxlength, textclass, other) %}
<div class="form-group{{ textclass ? ' text-' ~ textclass }}">
    <label for="{{ name }}" class="col-md-2 control-label">{{ description }}</label>
    <div class="col-md-{{mdLength}}">
        <input type="text" class="form-control" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}"{% if value %} value="{{ value }}"{% endif %}{% if maxlength %} maxlength="{{ maxlength }}"{% endif %}{% if not enabled %} disabled="disabled"{% endif %} {{ other | raw }}>
    </div>
</div>
{% endmacro %}
{% macro input_number(name, mdLength, description, placeholder, min, max, value, enabled = true, maxlength, textclass, other) %}
<div class="form-group{{ textclass ? ' text-' ~ textclass }}">
    <label for="{{ name }}" class="col-md-2 control-label">{{ description }}</label>
    <div class="col-md-{{mdLength}}">
        <input type="number" class="form-control" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}"{% if value is not null %} value="{{ value }}"{% endif %}{% if maxlength %} maxlength="{{ maxlength }}"{% endif %}{% if not enabled %} disabled="disabled"{% endif %}{% if min is not null %} min="{{min}}" {% endif %}{% if max is not null %} max="{{max}}" {% endif %}{{ other | raw }}>
    </div>
</div>
{% endmacro %}
{% macro input_radio(name, description, value1, description1, value2, description2, current, enabled = true, textclass) %}
<div class="form-group{{ textclass ? ' text-' ~ textclass }}">
    <label class="col-md-2 control-label">{{ description }}</label>
    <div class="col-md-10">
        <label class="radio-inline"><input type="radio" name="{{ name }}" value="{{ value1 }}" {% if (value1 == current) %} checked="checked"{% endif %}{{ enabled ? '' : ' disabled' }}> {{ description1 }}</label>
        <label class="radio-inline"><input type="radio" name="{{ name }}" value="{{ value2 }}" {% if (value2 == current) %} checked="checked"{% endif %}{{ enabled ? '' : ' disabled' }}> {{ description2 }}</label>
    </div>
</div>
{% endmacro %}
{% macro input_radio_array(name, description, items, current, enabled = true, textclass) %}
<div class="form-group{{ textclass ? ' text-' ~ textclass }}">
    <label class="col-md-2 control-label">{{ description }}</label>
    <div class="col-md-10">
        {% for value,description in items %}
        <label class="radio-inline"><input type="radio" name="{{ name }}" value="{{ value }}" {% if (value == current) %} checked="checked"{% endif %}{{ enabled ? '' : ' disabled' }}> {{ description }}</label>
        {% endfor %}
    </div>
</div>
{% endmacro %}
{% macro input_textarea(name, rows, description, placeholder, value, enabled = true, textclass) %}
<div class="form-group{{ textclass ? ' text-' ~ textclass }}">
    <label for="{{ name }}" class="col-md-2 control-label">{{ description }}</label>
    <div class="col-md-10">
        <textarea class="form-control" name="{{ name }}" id="{{ name }}" rows="{{ rows }}" placeholder="{{ placeholder }}"{{ enabled ? '' : ' disabled' }}>{{ value }}</textarea>
    </div>
</div>
{% endmacro %}
{% macro input_password(name, mdLength, description, placeholder, value, enabled = true, maxlength, textclass, other) %}
<div class="form-group{{ textclass ? ' text-' ~ textclass }}">
    <label for="{{ name }}" class="col-md-2 control-label">{{ description }}</label>
    <div class="col-md-{{mdLength}}">
        <input type="password" class="form-control" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}"{% if value %} value="{{ value }}"{% endif %}{% if maxlength %} maxlength="{{ maxlength }}"{% endif %}{% if not enabled %} disabled="disabled"{% endif %} {{ other | raw }}>
    </div>
</div>
{% endmacro %}
{% macro input_profiles(name, description, profiles, allProfiles, gender, enabled = true, textclass) %}
<div class="form-group{{ textclass ? ' text-' ~ textclass }}">
    <label class="col-md-2 control-label">{{ description }}</label>
    <div class="col-md-10">
        {% if enabled %}
            <select class="form-control select" multiple name="{{name}}[]">
            {% for prof in allProfiles %}
            <option value="{{ prof['id'] }}" {% if profiles[prof['id']] %} selected {% endif %}>{{ [prof['display_name_neutral'], prof['display_name_male'], prof['display_name_female']][gender] }}{% if prof['display_name'] %} ({{ prof['display_name'] }}){% endif %}</option>
            {% endfor %}
            </select>
        {% else %}
            <textarea class="form-control" disabled rows="3">{% for profile in profiles %}{{ [profile['display_name_neutral'], profile['display_name_male'], profile['display_name_female']][gender] }}{% if profile['display_name'] %} ({{ profile['display_name'] }}){% endif %}{{ loop.last ? '' : ', ' }}{% endfor %}</textarea>
        {% endif %}
    </div>
</div>
{% endmacro %}
{% macro input_persons(name, description, persons, allPersons, enabled = true, textclass) %}
<div class="form-group{{ textclass ? ' text-' ~ textclass }}">
    <label class="col-md-2 control-label">{{ description }}</label>
    <div class="col-md-10">
        {% if enabled %}
            <select class="form-control select" multiple name="{{name}}[]">
                {% for pers in allPersons %}
                <option value="{{ pers['id'] }}" {% if persons[pers['id']] %} selected {% endif %}>{{ pers['display_name'] }}{% if not pers['is_active'] %} (desactivado){% endif %}</option>
                {% endfor %}
            </select>
        {% else %}
            <textarea class="form-control" disabled rows="3">{% for person in persons %}{{ person['display_name'] }}{% if not person['is_active'] %} (desactivado){% endif %}{{ loop.last ? '' : ', ' }}{% endfor %}</textarea>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro select_date(prefix, current, showtime, classes) %}
{% set year = current | slice(0, 4) %}
{% set month = current | slice(4, 2) %}
{% set day = current | slice(6, 2) %}
{% set hour = current | slice(8, 2) %}
{% set minute = current | slice(10, 2) %}
{% set months = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio',
                 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'] %}

    <select name="{{ prefix }}_day" class="select {{ classes }}">
        {% for n in 1..31 %}
        {% set dn = (n<10 ? '0') ~ n %}
        <option value="{{ dn }}" {{ day == n ? ' selected'}}>{{n}}</option>
        {% endfor %}
    </select>

    <select name="{{ prefix }}_month" class="select {{ classes }}">
        {% for n in 1..12 %}
        {% set dn = (n<10 ? '0') ~ n %}
        <option value="{{ dn }}" {{ month == n ? ' selected'}}>{{ months[n-1] }}</option>
        {% endfor %}
    </select>

    <select name="{{ prefix }}_year" class="select {{ classes }}">
        {% for n in (year-20)..(year+20) %}
        <option value="{{ n }}" {{ year == n ? ' selected'}}>{{n}}</option>
        {% endfor %}
    </select>

{% if showtime %}
    <select name="{{ prefix }}_hour" class="select {{ classes }}">
        {% for n in 0..23 %}
        {% set dn = (n<10 ? '0') ~ n %}
        <option value="{{ dn }}" {{ hour == n ? ' selected'}}>{{ dn }} h.</option>
        {% endfor %}
    </select>

    <select name="{{ prefix }}_minute" class="select {{ classes }}">
        {% for n in 0..59 %}
        {% set dn = (n<10 ? '0') ~ n %}
        <option value="{{ dn }}" {{ minute == n ? ' selected'}}>{{ dn }} m.</option>
        {% endfor %}
    </select>
{% endif %}

{% endmacro %}
