{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2015: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "tree.html.twig" %}
{% block maincontent %}
{% import "macros.twig" as m %}
<div class="panel panel-info">
    <div class="panel-heading">
    <h1>{{ new ? 'Nueva carpeta' : 'Gestionar carpeta: ' ~ folder['display_name'] }}</h1>
    </div>
    {% if folder['description'] %}<div class="panel-body"><h4>{{  folder['description'] | nl2br }}</h4></div>{% endif %}
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="{{ url }}">
            <div class="form-group">
                <label for="category" class="col-md-2 control-label">Pertenece a</label>
                <div class="col-md-10">
                    <select class="form-control select" id="category" name="category">
                        {% for categories in data %}
                        <optgroup label="{{ categories.info.display_name }}">
                            {% for category in categories.data %}
                            <option value="{{ category['id'] }}" {% if category['id'] == folder['category_id'] %} selected {% endif %}>{{ category['display_name'] }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {{ m.input_text('displayname', 10, 'Nombre de la carpeta', 'Nombre de la carpeta que se mostrará', folder['display_name'], true, null, null, 'required') }}
            {{ m.input_textarea('description', 8, 'Más información', 'Descripción del contenido de la carpeta e instrucciones de uso', folder['description']) }}
            {{ m.input_radio('divided', 'Almacenar perfil en la entrega', '0', 'No', '1', 'Sí, las entregas se identificarán con el perfil de subida', folder['is_divided']) }}
            {{ m.input_radio('revisionnr', 'Mostrar nº de revisión', '0', 'No mostrarlo', '1', 'Sí, se mostrará en los listados el nº de revisión actual', folder['show_revision_nr']) }}
            {{ m.input_radio('autoclean', 'Al comenzar un nuevo curso', '0', 'Mantener el contenido', '1', 'Guardar un histórico y vaciar las entregas', folder['auto_clean']) }}
            {{ m.input_profiles('managers', 'Responsables', managers, allProfiles, 0) }}
            {{ m.input_profiles('uploaders', 'Pueden entregar', uploaders, allProfiles, 0) }}
            {{ m.input_radio('restrictedaccess', 'Acceso restringido', '0', 'No, todos pueden ver el contenido', '1', 'Sí, sólo algunos perfiles pueden ver el contenido', folder['is_restricted']) }}
            {{ m.input_profiles('restricted', 'Tienen acceso si está restringido', restricted, allProfiles, 0) }}
            {{ m.input_radio_array('private', 'Los usuarios autorizados pueden ver', {'0': 'Todas las entregas', '1': 'Sólo sus entregas', '2': 'Sólo las entregas de sus perfiles'}, private) }}
            <button type="submit" name="savefolder" class="btn btn-success">{{ folder.new ? 'Crear carpeta' : 'Guardar cambios' }}</button>
            <a href="{{ flash['last_url'] }}" class="btn btn-info">Volver sin guardar los cambios</a>
            <button type="submit" name="deletefolder" class="btn btn-danger" onClick="javascript:return confirm('¡Cuidado: La operación de borrado no se puede deshacer.\n\nTodos las actividades asociadas a la carpeta, así como los documentos actuales y archivados se perderán para siempre.\n\n¿Desea continuar?');">Eliminar carpeta, sus entregas e historial</button>
        </form>
    </div>
</div>
{% endblock %}
