{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2015: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "upload.html.twig" %}
{% block upload_main_content %}
{% import "macros.twig" as m %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Modificación de una entrega: {{ delivery['display_name'] }}</h1>
    </div>
    <div class="panel-body">
        <h3>Carpeta: {{ folder['display_name'] }}</h3>
        {% if folder.description %}<h4>{{ folder.description | nl2br }}</h4>{% endif %}
    </div>
</div>
<form class="form" enctype="multipart/form-data" role="form" method="post" action="{{ url }}">
    <div class="panel panel-default">
        <div class="panel-body form-horizontal">
            <h3>Entrega</h3>
            <div class="form-group">
                <label class="col-md-2 control-label" for="creation">Realizada el </label>
                    <div class="col-md-10">
                        {% if user['is_admin'] %}
                        {{ m.select_date('creation', delivery['creation_date'] | date('YmdHi'), true) }}
                        {% else %}
                        <p class="form-control-static">{{ delivery['creation_date'] | date('Y-m-d') }}</p>
                        {% endif %}
                    </div>
            </div>
            {% if item %}
            <div class="form-group">
                <label class="col-md-2 control-label" for="creation">Asociada a la actividad </label>
                    <div class="col-md-10">
                        <p class="form-control-static">{{ item.event_display_name }}</p>
                    </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="creation">Se corresponde con </label>
                    <div class="col-md-10">
                        <p class="form-control-static">{{ item.display_name }}</p>
                    </div>
            </div>
            {% endif %}
            {% if folder['is_divided'] %}
            <div class="form-group">
                <label class="col-md-2 control-label" for="profile">Asociada al perfil</label>
                {% if is_manager %}
                <div class="col-md-10">
                    <select class="form-control select" name="profile">
                        {% for profile in upload_as %}<option value="{{ profile['id'] }}" {{ (delivery['profile_id'] == profile['id']) ? " selected" : "" }}>{{ [profile['display_name_neutral'], profile['display_name_male'], profile['display_name_female']][user['gender']] }}{% if profile['display_name'] %} ({{ profile['display_name'] }}){% endif %}</option>{% endfor %}
                    </select>
                </div>
                {% else %}
                <div class="col-md-10">
                    {% set profile = upload_as[delivery['profile_id']] %}
                    <p class="form-control-static">{{ [profile['display_name_neutral'], profile['display_name_male'], profile['display_name_female']][user['gender']] }}{% if profile['display_name'] %} ({{ profile['display_name'] }}){% endif %}</p>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% if is_manager %}
            <div class="form-group">
                <label class="col-md-2 control-label" for="item">Elemento de entrega asociado</label>
                <div class="col-md-10">
                    <select class="form-control select" name="item">
                        <option value="0" {{ (delivery['item_id'] is null) ? " selected" : "" }}>Ninguno</option>
                        {% for elem in items %}<option value="{{ elem['id'] }}" {{ (delivery['item_id'] == elem['id']) ? " selected" : "" }}>{{ elem['display_name'] }}</option>{% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            {{ m.input_text('displayname', 10, 'Nombre a mostrar', 'Nombre con el que se mostrará la entrega en los listados', delivery['display_name']) }}
            {{ m.input_textarea('description', 3, 'Descripción detallada', 'Notas adicionales sobre la entrega', delivery['description']) }}
        </div>
        <div class="panel-footer">
            <button type="submit" name="save" class="btn btn-success">Guardar cambios</button>
            {% set now = (current-base+48) % 48 %}
            {% set from = (item.from_week-base+48) % 48 %}
            {% set to = (item.to_week-base+48) % 48 %}
            {% if not item or (item and ((not item.force_period) or is_manager or ((now>=from) and (now<=to)))) %}
            <button type="submit" name="delete" class="btn btn-danger" onClick="javascript:return confirm('La operación de borrado no se puede deshacer. ¿Desea continuar?');">Eliminar la entrega</button>
            {% else %}
            <button type="button" class="btn btn-danger" disabled="1">Fuera de plazo, no se puede eliminar (entregue una nueva revisión)</button>
            {% endif %}
            <a class="btn btn-info" href="{{ last_url }}">Volver sin realizar cambios</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Entregar una nueva revisión</h3>
            <blockquote><p>Desde este apartado podrá enviar nuevas versiones de la entrega</p></blockquote>
            <div class="form-group">
                <label for="document">Enviar un documento nuevo a la plataforma</label>
                <input type="file" class="form-control trigger" name="document[]">
                <p class="help-block">El documento enviado podrá ser almacenado como una nueva revisión</p>
            </div>
            <div class="form-group">
                <button type="submit" name="new" class="btn btn-primary auto-enable">Entregar como nueva revisión</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Revisiones almacenadas</h3>
            <blockquote><p>Desde este apartado podrá observar las revisiones almacenadas</p></blockquote>
        </div>
        <ul class="list-group">
            {% for revision in revisions %}
                <li class="list-group-item{{ delivery['current_revision_id'] == revision['id'] ? ' warning' }}">
                    <h4>
                        {{ delivery['current_revision_id'] == revision['id'] ? '<strong>' }}Rev. {{ revision['revision_nr'] }} - {{ revision['upload_date'] | date('Y-m-d') }}
                        - {{ revision['download_filename'] }}{{ delivery['current_revision_id'] == revision['id'] ? '</strong>' }}
                        {% if user['is_admin'] %}<a class="delivery-tools hidden-print" title="Modificar entrega" href="{{ urlFor('revision', {'id': revision['id'], 'folderid': folder['id'] }) }}"><span class="icon-pencil"></span></a>{% endif %}
                    </h4>
                    <p>
                    Entregado por <a href="{{ urlFor('personal', { 'id': revision['uploader_person_id'], 'section': 0 }) }}">{{ uploaders[revision['uploader_person_id']]['display_name'] }}</a></p>
                    {% if is_manager %}
                    <p>
                        {% if delivery['current_revision_id'] != revision['id'] %}
                        <button class="btn btn-danger" name="remove" value="{{ revision['id'] }}" title="Elimina esta revisión de la plataforma" onClick="javascript:return confirm('La operación de borrado no se puede deshacer. ¿Desea continuar?');">Eliminar</button>
                        {% else %}
                        <button name="disabled-delete" class="btn btn-danger" disabled="1">No se puede eliminar la revisión activa</button>
                        {% endif %}
                        {% if delivery['current_revision_id'] != revision['id'] %}
                            <button class="btn btn-info" name="default" value="{{ revision['id'] }}" title="Establecer como la revisión activa">Establecer como revisión activa</button>
                        {% endif %}
                    </p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</form>
{% endblock %}
