{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "upload.html.twig" %}
{% block upload_main_content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Modificación de una entrega: {{ delivery['display_name'] }}</h1>
    </div>
    <div class="panel-body">
        <h3>Carpeta: {{ folder['display_name'] }}</h3>
        {% if folder.description %}<h4>{{ folder.description | nl2br }}</h4>{% endif %}
    </div>
</div>
<form class="form" enctype="multipart/form-data" role="form" method="post" action="{{ url }}">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Entrega</h3>
            <div class="form-group">
                <label for="profile">Entrega realizada el</label>
                {% if user['is_admin'] %}
                <p>{{ delivery['creation_date'] | date('Y-m-d') }}</p>
                {% else %}
                <p>{{ delivery['creation_date'] | date('Y-m-d') }}</p>
                {% endif %}
            </div>            {% if folder['is_divided'] %}
            <div class="form-group">
                <label for="profile">Entregado como</label>
                <select class="form-control select" name="profile">
                    {% for profile in upload_as %}<option value="{{ profile['id'] }}" {{ (delivery['profile_id'] == profile['id']) ? " selected" : "" }}>{{ [profile['display_name_neutral'], profile['display_name_male'], profile['display_name_female']][user['gender']] }}{% if profile['display_name'] %} ({{ profile['display_name'] }}){% endif %}</option>{% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="displayname">Nombre a mostrar</label>
                <input type="text" class="form-control" name="displayname" value="{{ delivery['display_name'] }}"></input>
            </div>
            <div class="form-group">
                <label for="description">Descripción detallada</label>
                <textarea class="form-control" rows="3" name="description" value="{{ delivery['description'] }}"></textarea>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" name="save" class="btn btn-success">Guardar cambios de la entrega</button>
            <button type="submit" name="delete" class="btn btn-danger">Eliminar la entrega</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Revisiones almacenadas</h3>
            <blockquote><p>Desde este apartado podrá añadir o modificar revisiones</p></blockquote>
            <div class="form-group">
                <label for="document">Enviar un documento nuevo a la plataforma</label>
                <input type="file" class="form-control trigger" name="document[]">
                <p class="help-block">El documento enviado podrá ser almacenado como una nueva revisión si se pulsa el botón de abajo o bien podrá reemplazar otro envío anterior de la lista.</p>
            </div>
            <div class="form-group">
                <button type="submit" name="new" class="btn btn-primary auto-enable">Entregar como nueva revisión</button>
            </div>
        </div>
        <ul class="list-group">
            {% for revision in revisions %}
                <li class="list-group-item{{ delivery['current_revision_id'] == revision['id'] ? ' warning' }}">
                    <h4>{{ delivery['current_revision_id'] == revision['id'] ? '<strong>' }}Rev. {{ revision['revision_nr'] }} - {{ revision['upload_date'] | date('Y-m-d') }}
                    - {{ revision['download_filename'] }}{{ delivery['current_revision_id'] == revision['id'] ? '</strong>' }}</h4>
                    <p>
                    Entregado por <a href="{{ urlFor('personal', { 'id': revision['uploader_person_id'], 'section': 0 }) }}">{{ uploaders[revision['uploader_person_id']]['display_name'] }}</a></p>
                    <p><button class="btn btn-warning auto-enable" name="replace{{ revision['id'] }}" title="Cambia esta revisión por el documento indicado más arriba">Reemplazar</button>
                    <button class="btn btn-danger" name="remove{{ revision['id'] }}" title="Elimina esta revisión de la plataforma">Eliminar</button>
                    {% if delivery['current_revision_id'] != revision['id'] %}
                        <button class="btn btn-info" name="default{{ revision['id'] }}" title="Establecer como la revisión activa">Establecer como revisión activa</button>
                    {% endif %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
</form>
{% endblock %}