{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2015: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "layout.html.twig" %}
{% block maincontent %}
{% import 'macros.twig' as m %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h1>{{ new ? 'Nueva categoría de actividades' : 'Modificar categoría de actividades' }}</h1>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="{{ url }}">
            {{ m.input_text('displayname', 10, 'Nombre de la categoría', 'Nombre de la categoría que se mostrará', activity.display_name) }}
            {{ m.input_textarea('description', 8, 'Más información', 'Descripción del contenido de la actividad e instrucciones de uso', activity.description) }}
            <button type="submit" name="saveactivity" class="btn btn-success">{{ new ? 'Crear categoría de actividad' : 'Guardar cambios' }}</button>
            {% if not new %}
                <button type="submit" name="delete" class="btn btn-danger" onClick="javascript:return confirm('La operación de borrado no se puede deshacer.\n\nTodos las actividades que sólo pertenezcan a esta categoría también serán eliminadas.\n\n¿Desea continuar?');">Eliminar categoría y todos los eventos que sólo pertenezcan a ella</button>
            {% endif %}
            <a class="btn btn-info" href="{{ urlFor('manageallevents') }}">Volver al listado sin guardar los cambios</a>
        </form>
    </div>
</div>
{% endblock %}
