{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2015: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "layout.html.twig" %}
{% block scripts %}
<script>
function switchChecks(e) {
    if (!$(e).prop('checked')) {
        $('.check').removeAttr('checked');
    }
    else {
        $('.check').prop('checked', 'checked');
    }
}
</script>
{% endblock %}
{% block maincontent %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Listado de personal</h1>
    </div>
    <div class="panel-body hidden-print">
        <a href="{{ urlFor('personal', { 'id': 0, 'section': 0 } ) }}" class="btn btn-success">Crear un nuevo usuario</a> 
        <a href="{{ urlFor('personlist', { 'sort': 0, 'filter': 1-filter } ) }}" class="btn btn-info">{{ filter ? 'Mostrar también los usuarios desactivados' : 'Mostrar sólo los usuarios activos' }}</a>
    </div>
    <form action="{{ url }}" method="POST">
        <div class="filter">
            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2"><input type="checkbox" class="showjs-inline" onChange="switchChecks(this);"> <a href="{{ urlFor('personlist', { 'sort': 0, 'filter': filter } ) }}">Usuario</a></th>
                        <th class="col-md-6"><a href="{{ urlFor('personlist', { 'sort': 1, 'filter': filter } ) }}">Nombre</a></th>
                        <th class="hidden-xs hidden-sm col-md-3"><a href="{{ urlFor('personlist', { 'sort': 2, 'filter': filter } ) }}">Correo-e</a></th>
                        <th class="col-md-1"><a href="{{ urlFor('personlist', { 'sort': 3, 'filter': filter } ) }}">Últ. conexión</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in persons %}
                    {% set link = urlFor('personal', { 'id': person['id'], 'section': 0 }) %}
                    {% set gender = ['', 'male', 'female'][person['gender']] %}
                    <tr>
                        <td><input type="checkbox" class="check" name="user[]" value="{{ person['id'] }}">
                            <a href="{{ link }}">{{ person['user_name'] }}</a>
                            {% if not person['is_active'] %}
                                <span class="icon-eye-close" title="Desactivado"></span>
                            {% endif %}
                            {% if person['is_local_administrator'] or person['is_global_administrator'] %}
                                <span class="icon-cog" title="Administrador"></span>
                            {% endif %}
                        </td>
                        <td class="visible-xs">
                            <a href="{{ link }}">{{ person['display_name'] }}</a>
                        </td>
                        <td class="hidden-xs">
                            <a href="{{ link }}">{{ person['first_name'] ~ ' ' ~ person['last_name'] }}</a>
                            {% if gender %}<span class="icon-{{gender}}"></span>{% endif %}
                        </td>
                        <td class="hidden-xs hidden-sm">{{ person['email'] }}</td>
                        <td>{% if person['last_login'] %}<abbr title="{{ person['last_login'] | date('Y/m/d G:i') }}">{{ person['last_login'] | date('Y/m/d') }}</abbr>{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="panel-footer hidden-print">
                <p><strong>Con los elementos seleccionados:</strong></p>
                <button type="submit" name="enable" class="btn btn-info">Activar usuarios</button>
                <button type="submit" name="disable" class="btn btn-warning">Desactivar usuarios</button>
                {% if user['is_global_administrator'] %}
                <button type="submit" name="delete" class="btn btn-danger" disabled>Eliminar usuarios</button>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
