{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "base.html.twig" %}

{% block navbar %}
                <ul class="nav navbar-nav navbar-left navlinks">
                {% block navbaritemsleft %}
                {% if user %}
                    <li{% if matchesRoute('frontpage') or matchesRoute('grouping') %} class="active"{% endif %}><a href="{{ urlFor('frontpage') }}" title="Portada de la plataforma"><span class="visible-sm"><span class="icon-home"></span></span><span class="hidden-sm"><span class="icon-home"></span>&nbsp;Portada</span></a></li>
                    <li{% if matchesRoute('activities') %} class="active"{% endif %}><a href="{{ urlFor('activities') }}" title="Actividades asociadas a cada perfil"><span class="visible-sm"><span class="icon-calendar"></span></span><span class="hidden-sm"><span class="icon-calendar"></span>&nbsp;Actividades</span></a></li>
                    <li{% if matchesRoute('tree') %} class="active"{% endif %}><a href="{{ urlFor('tree') }}" title="Árbol de documentos del sistema"><span class="visible-sm"><span class="icon-folder-open-alt"></span></span><span class="hidden-sm"><span class="icon-folder-open-alt"></span>&nbsp;Árbol</span></a></li>
                {% endif %}
                {% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% block navbaritemsright %}
                {% endblock %}
                {% if user %}
                    <li class="login">
                        <div class="dropdown">
                            <a class="btn btn-info login" id="usermenu" role="button" data-toggle="dropdown" data-target="#" href="{{ urlFor('personal') }}">
                                <span class="icon-{{ user['is_admin'] ? 'cogs' : 'user' }}"></span>&nbsp;<span class="thin">{{ user.display_name }}</span></span> <span class="icon-caret-down"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="usermenu">
                                <li role="presentation"><a href="personal">Datos personales</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a href="salir">Salir</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li class="login">
                        <a class="btn btn-info login"  role="button" href="{{ urlFor('login') }}">
                            <span class="icon-signin"></span>&nbsp;<span class="thin">Entrar en la aplicación</span></span>
                        </a>
                    </li>
                {% endif %}
                </ul>
{% endblock %}
            
{% block content %}
{% endblock %}