{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "base.html.twig" %}

{% block navbar %}
{% endblock %}
            
{% block content %}
        <div class="panel panel-primary atica-panel-login">
            <div class="panel-body">
                <form method="post" action="organizacion">
                    <fieldset>
                        <legend>Seleccione la organización a la que desea acceder</legend>
                        {% for org in organizations %}
                        <div class="radio">
                            <label>
                                <input type="radio" name="organization_id" id="org{{ loop.n }}" value="{{ org.id }}" {% if org.id == organization.id %}checked autofocus="true"{% endif %}>
                                <strong>{{ org.display_name }}</strong>{% if org.additional_info %} &mdash; {{ org.additional_info }}{% endif %}
                            </label>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">Seleccionar organización</button>
                    </fieldset>
                </form>
            </div>
            <div class="panel-footer text-muted text-center thin">{{ config['login.help'] }}</div>
        </div>
{% endblock %}