{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "layout.html.twig" %}
{% block sidebar %}
{% if sidebar %}
    <nav>
        <div class="panel-group treebar" id="sidelist">
            {% for group in sidebar %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidelist" href="#item{{ loop.index }}">
                            {{ group.caption }}
                        </a>
                    </h4>
                </div>
                <div id="item{{ loop.index }}" class="panel-collapse collapse{% if group.active %} in{% endif %}">
                    <div class="list-group list-group-isolated">

                        {% for element in group.data %}
                        <a class="list-group-item{% if not element.target %} list-group-item-text{% endif %}{% if element.active %} active{% endif %}"{% if element.target %} href="{{ element.target }}"{% endif %}>
                            {% if element.icon %}<span class="icon-{{ element.icon }}"></span> {% endif %}
                            {% if element.badge %}<span class="badge">{{ element.badge }}{% if element.badge_icon %} <span class="icon-{{ element.badge_icon }}"></span>{% endif %}</span>{% endif %}
                            {{ element.caption }}
                        </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </nav>
{% endif %}
{% endblock %}
{% block maincontent %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h1>{{ category ? category['display_name'] : 'Árbol de documentos' }}</h1>
    </div>
    {% if category.description %}<div class="panel-body"><h4>{{ category.description | nl2br }}</h4></div>{% endif %}
    {% if user['is_admin'] %}
    <div class="panel-footer">
        <a class="btn btn-info" href="{{ urlFor('managefolder', { 'id': 0, 'catid': category.id }) }}">Crear nueva carpeta</a>
    </div>
    {% endif %}
</div>
{% if data %}
{% include 'folder.html.twig' %}
{% elseif not content %}
<div class="panel panel-default">
    <div class="panel-body">
        <p>Desde aquí podrás examinar todos los documentos almacenados en la
            plataforma y enviar nuevos documentos en aquellos lugares donde esté autorizado.</p>
        
        <p>Selecciona el capítulo y el apartado que deseas examinar.</p>
    </div>
</div>
{% else %}
<div class="alert alert-danger">
    No hay ningún documento que mostrar. Seleccione otro apartado de la lista.
</div>
{% endif %}
{% endblock %}