{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2015: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "tree.html.twig" %}
{% block maincontent %}
{% block upload_main_content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Entrega de nuevos documentos</h1>
    </div>
    <div class="panel-body">
        <h2>Carpeta: {{ folder['display_name'] }}</h2>
        {% if folder.description %}<h4>{{ folder.description | nl2br }}</h4>{% endif %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Más información</h3>
        <dl class="dl-horizontal">
            <dt>Responsable:</dt>
            <dd>
            {% for profile in manager_profiles %}{% if not loop.first %}, {% endif %}{% if user_profiles[profile.id] %}<u>{% endif %}{{ profile.display_name_neutral }}{% if profile.display_name is not null %} ({{ profile.display_name }}){% endif %}{% if user_profiles[profile.id] %}</u>{% endif %}{% endfor %}
            </dd>
            <dt>Pueden enviar:</dt>
            <dd>
            {% for profile in upload_profiles %}{% if not loop.first %}, {% endif %}{% if user_profiles[profile.id] %}<u>{% endif %}{{ profile.display_name_neutral }}{% if profile.display_name is not null %} ({{ profile.display_name }}){% endif %}{% if user_profiles[profile.id] %}</u>{% endif %}{% endfor %}
            </dd>
            {% if folder.is_restricted and restricted_profiles %}
            <dt>Pueden visualizar:</dt>
            <dd>
            {% for profile in restricted_profiles %}{% if not loop.first %}, {% endif %}{% if user_profiles[profile.id] %}<u>{% endif %}{{ profile.display_name_neutral }}{% if profile.display_name is not null %} ({{ profile.display_name }}){% endif %}{% if user_profiles[profile.id] %}</u>{% endif %}{% endfor %}
            </dd>
            {% endif %}
        </dl>
    </div>
</div>
{% set show_upload = false %}
{% if local_stats %}
<form class="form" enctype="multipart/form-data" role="form" method="post" action="{{ url }}">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Mis entregas</h3>
        </div>
        {% set now = (current-base+48) % 48 %}
        {% for event_id, local_stats_item in local_stats %}
            {% set sum_c = 0 %}
            {% set sum_total = 0 %}
            {% set it = (local_stats_item | first)[0] %}
            {% set from = (it.from_week-base+48) % 48 %}
            {% set to = (it.to_week+it.grace_period-base+48) % 48 %}
            {% set late = ((now>=from) and (now>to)) %}
            {% set ready = ((now>=from) and (now<=to)) %}
            <div class="panel-body">
                <h4>
                    <strong>Actividad: </strong>{{ it['event_display_name'] }}{% if user['is_admin'] %} <a class="delivery-tools hidden-print" title="Modificar actividad" href="{{ urlFor('manageevent', { 'id': event_id }) }}"><span class="icon-pencil"></span></a>{% endif %}
                <h4>
                <p>
                    <strong>Plazo: </strong>{{ it.period_description ? it.period_description : parsePeriod(it.from_week, it.to_week, period_labels) }}
                    {% if it.force_period %} <span class="icon-{{ ready ? "un" }}lock"></span>{% endif %}
                </p>
            </div>
            <table class="table table-hover">
                <tbody>
                    {% for profile_id, local_stats_item in local_stats_item %}
                        {% set profile = user_profiles[profile_id] %}
                        <tr>
                            <td colspan="2" class="profile profile-detail">
                                {{ profile['display_name_neutral'] }} {{ profile['display_name'] }}
                            </td>
                        </tr>
                        {% for item in local_stats_item %}
                        {% set from = (item.from_week-base+48) % 48 %}
                        {% set to = (item.to_week-base+48) % 48 %}
                        {% set late = ((now>=from) and (now>to)) %}
                        {% set ready = ((now>=from) and (now<=to)) %}
                        <tr class="{% if item.c %}success{% elseif ready %}warning{% elseif late %}danger{% endif %}">
                            <td class="col-md-8">
                                <span class="icon-{{ item.c ? 'ok' : 'remove'}}"></span>
                                {{ item['display_name'] }}{% if not item.c and late %} (fuera de plazo){% endif %}
                            </td>
                            <td class="col-md-4">
                                {% if item['c'] %}
                                    <a href="{{ urlFor('download', { 'id': item.delivery_id, 'cid': folder.category_id, 'kind': 1 }) }}">Descargar entrega</a> - 
                                    <a href="{{ urlFor('modify', {'folderid': item.folder_id, 'id': item.delivery_id, 'return': 2, 'data1': back_url['return'], 'data2': back_url['data1'], 'data3': back_url['data2'], 'data4': back_url['data3'] }) }}">Modificar entrega</a>
                                {% elseif not is_manager and item.force_period and late %}
                                    <button class="btn btn-danger btn-block" disabled="1">No se puede entregar. Fuera de plazo</button>
                                {% else %}
                                    <input type="file" multiple class="form-control" name="localdocument_{{ item.id }}">{% set show_upload = true %}
                                {% endif %}
                            </td>
                        </tr>
                        {% set sum_c = sum_c + item['c'] %}{% set sum_total = sum_total + 1 %}
                        {% endfor %}
                        {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th></th><th>{{ sum_c }}/{{ sum_total }} ({{ (100*sum_c/sum_total) | number_format }}%)</th>
                    </tr>
                </tfoot>
            </table>
        {% endfor %}
        <div class="panel-footer">
            {% if show_upload %}
                <button type="submit" name="localupload" class="btn btn-success">Enviar documentos</button>
            {% else %}
                <button class="btn btn-success" disabled="1">No hay documentos pendientes de entrega</button>
            {% endif %}
            <a class="btn btn-info" href="{{ last_url }}">Volver sin entregar</a>
        </div>
    </div>
</form>
{% endif %}
{% if stats %}
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Cuadro de entregas</h3>
        {% set sum_c = 0 %}{% set sum_total = 0 %}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Perfil</th><th>Entregas realizadas</th>
                </tr>
            </thead>

            <tbody>
                {% for item in stats %}
                {% set complete = (item['c'] == item['total']) %}
                <tr class="{{ complete ? 'success' : 'warning' }}">
                    <td>
                        <span class="icon-{{ complete ? 'ok' : 'remove'}}"></span>
                        {{ item['display_name_neutral'] }}{% if item['display_name'] %} ({{ item['display_name'] }}){% endif %}
                    </td>
                    <td>
                        {{ item['c'] }}/{{ item['total'] }} ({{ (100*item['c']/item['total']) | number_format }}%)
                    </td>
                </tr>
                {% set sum_c = sum_c + item['c'] %}{% set sum_total = sum_total + item['total'] %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th><th>{{ sum_c }}/{{ sum_total }} ({{ (100*sum_c/sum_total) | number_format }}%)</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endif %}
{% if (local_stats and sum_c != sum_total) or not local_stats or is_manager or show_upload %}
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Envío{{ local_stats ? " avanzado" }}</h3>
        <form class="form" enctype="multipart/form-data" role="form" method="post" action="{{ url }}">
            {% if folder['is_divided'] %}
            <div class="form-group">
                <label for="profile">Enviar como</label>
                {% if upload_as | length > 1 %}
                <select class="form-control select" name="profile">
                    {% for profile in upload_as %}<option value="{{ profile['id'] }}">{{ [profile['display_name_neutral'], profile['display_name_male'], profile['display_name_female']][user['gender']] }}{% if profile['display_name'] %} ({{ profile['display_name'] }}){% endif %}</option>{% endfor %}
                </select>
                {% else %}
                {% set profile = upload_as | first %}
                <input type="hidden" name="profile" value="{{ profile.id }} ">
                <p class="form-control-static">{{ [profile['display_name_neutral'], profile['display_name_male'], profile['display_name_female']][user['gender']] }}{% if profile['display_name'] %} ({{ profile['display_name'] }}){% endif %}</p>
                {% endif %}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="document">Documento(s) a entregar</label>
                <input type="file" multiple class="form-control trigger" name="document[]">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary auto-enable">Entregar en la plataforma</button>
                <a class="btn btn-info" href="{{ last_url }}">Volver sin entregar</a>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
{% endblock %}
