{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "tree.html.twig" %}
{% block maincontent %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Enviar documento nuevo</h1>
    </div>
    <div class="panel-body">
        <h2>Carpeta: {{ folder['display_name'] }}</h2>
        {% if folder.description %}<h4>{{ folder.description }}</h4>{% endif %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Responsable:</dt>
            <dd>
            {% for profile in manager_profiles %}{% if not loop.first %}, {% endif %}{% if user_profiles[profile.id] %}<strong>{% endif %}{{ profile.display_name_neutral }}{% if profile.display_name is not null %} ({{ profile.display_name }}){% endif %}{% if user_profiles[profile.id] %}</strong>{% endif %}{% endfor %}
            </dd>
            <dt>Pueden enviar:</dt>
            <dd>
            {% for profile in upload_profiles %}{% if not loop.first %}, {% endif %}{% if user_profiles[profile.id] %}<strong>{% endif %}{{ profile.display_name_neutral }}{% if profile.display_name is not null %} ({{ profile.display_name }}){% endif %}{% if user_profiles[profile.id] %}</strong>{% endif %}{% endfor %}
            </dd>
        </dl>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
{% endblock %}