{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2015: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "layout.html.twig" %}
{% block maincontent %}
{% import 'macros.twig' as m %}
{% set edit = local or user['is_admin'] %}
{% set global_admin = (userData['is_global_administrator'] == 1) %}
{% set local_admin = (userData['is_local_administrator'] == 1) %}
<form class="form-horizontal" role="form" method="post" action="{{ url }}">
    <div class="panel panel-info">
        <div class="panel-heading">
        {% if local %}
            <h1>¡Bienvenid{{ ['o/a', 'o', 'a'][user.gender] }} {{ user.first_name }}!</h1>
        {% else %}
            <h1>{{ userData.new ? 'Nuevo usuario' : ('Datos personales: ' ~ userData.display_name) }}</h1>
        {% endif %}
        </div>
        <div class="panel-body">
            {% if local %}
                <h3>Por favor, tómate unos minutos para asegurarte de que los datos de la aplicación son correctos</h3>
            {% endif %}
            {% if user.is_admin %}
            {{ m.input_text('username', '10', 'Nombre de usuario', 'Nombre de usuario para entrar en la plataforma', userData.user_name, edit, null, null, 'required') }}
            {% endif %}
            {{ m.input_radio('active', 'Estado', '0', 'Usuario no activo', '1', 'Usuario activo', userData['is_active'], (user.is_admin and not local)) }}
            {{ m.input_text('displayname', '10', 'Nombre visible', 'Nombre con el que aparecerá en la plataforma', userData.display_name, edit, null, null, 'required') }}
            {{ m.input_text('firstname', '10', 'Nombre', 'Nombre completo sin abreviaturas', userData.first_name, edit, null, null, 'required') }}
            {{ m.input_text('lastname', '10', 'Apellidos', 'Apellidos completos', userData.last_name, edit, null, null, 'required') }}
            {{ m.input_text('initials', '5', 'Iniciales', 'Iniciales en mayúsculas sin espacios ni puntos', userData.initials, edit, 5, null, 'required') }}
            {{ m.input_radio('gender', 'Sexo', '1', 'Hombre', '2', 'Mujer', userData['gender'], edit) }}
            {% if edit %}
            {{ m.input_text('email', '6', 'Correo electrónico', 'Correo electrónico donde recibir las notificaciones', userData.email, edit) }}
            {{ m.input_radio('notify', 'Notificaciones por correo', '0', 'No quiero recibir notificaciones', '1', 'Sí, quiero recibirlas', userData['email_enabled'], edit) }}
            {% endif %}
            {{ m.input_profiles('profiles', 'Perfiles asociados', profiles, allProfiles, userData['gender'], user.is_admin) }}
            {% if user.is_admin %}
            {{ m.input_radio('localadmin', 'Administración local', '0', 'No', '1', 'Sí, puede administrar este centro', local_admin, edit, 'danger') }}
            {% if user.is_global_administrator %}
            {{ m.input_radio('globaladmin', 'Administración global', '0', 'No', '1', 'Sí, puede administrar la plataforma completa', global_admin, not local, 'danger') }}
            {% endif %}
            {{ m.input_radio('external', 'Usuario externo', '0', 'No', '1', 'Sí, puede administrar la plataforma completa', global_admin, not local, 'danger') }}
            {{ m.input_textarea('description', 3, 'Otra información', 'Notas internas para los administradores', userData['description'], true) }}
            {% endif %}

            {% if edit %}
                {% if local %}
                    <h4>Desde aquí podrás cambiar la contraseña de acceso a la plataforma. Recuerda que la
                        contraseña debe tener un mínimo de 6 caracteres</h4>
                {% endif %}
                {% if not user.is_admin %}
                    {{ m.input_password('oldpassword', 10, 'Contraseña actual', 'Contraseña que quieres cambiar, déjala en blanco si no quieres cambiarla') }}
                {% endif %}
                {{ m.input_password('password1', 10, 'Nueva contraseña', 'Contraseña nueva que utilizará este usuario a partir de ahora') }}
                {{ m.input_password('password2', 10, 'Repita la nueva contraseña', 'Escriba de nuevo la nueva contraseña para verificar es correcta') }}

                <button type="submit" name="savepersonal" class="btn btn-success">{{ userData.new ? 'Crear usuario' : 'Guardar cambios' }}</button>
                {% if user['is_global_administrator'] and not userData['new'] %}
                <button type="submit" name="deletepersonal" class="btn btn-danger" {{ local ? ' disabled' }} onClick="javascript:return confirm('¡Cuidado! La operación de borrado no se puede deshacer y es extremadamente peligrosa.\n\nTodos los datos y documentos relacionados con el usuario serán eliminados, incluso aquellos del historial. Si el usuario ya no está activo, desactívelo en lugar de borrarlo.\n\n¿Desea continuar?');">Eliminar de la plataforma</button>
                {% if flash['last_url'] %}<a class="btn btn-info" href="{{ flash['last_url'] }}">Volver sin realizar cambios</a>{% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
