{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "layout.html.twig" %}

{% block maincontent %}
{% import 'macros.twig' as m %}
<div class="panel panel-info">
    <div class="panel-heading">
{% if local %}
        <h1>¡Bienvenid{{ ['o/a', 'o', 'a'][user.gender] }} {{ user.first_name }}!</h1>
{% else %}
        <h1>Cambio de contraseña: {{ userData.display_name }}</h1>
{% endif %}
    </div>
    <div class="panel-body">
{% if local %}
        <h3>Desde aquí podrás cambiar la contraseña de acceso a la plataforma. Recuerda que la
        contraseña debe tener un mínimo de 6 caracteres</h3>
{% endif %}
        <form class="form-horizontal" role="form" method="post" action="{{ url }}">
            {% if not user.is_admin %}
            {{ m.input_password('oldpassword', 10, 'Contraseña actual', 'Contraseña que quieres cambiar') }}              
            {% endif %}
            {{ m.input_password('password1', 10, 'Nueva contraseña', 'Contraseña nueva que quieres utilizar a partir de ahora') }}              
            {{ m.input_password('password2', 10, 'Repita la nueva contraseña', 'Escriba de nuevo la nueva contraseña para verificar es correcta') }}                         
            <button type="submit" name="savepassword" class="btn btn-success">Cambiar contraseña</button>
        </form>
    </div>
</div>
{% endblock %}