{#  ATICA - Web application for supporting Quality Management Systems
    Copyright (C) 2009-2013: Luis-Ramón López López

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "layout.html.twig" %}
{% block stylesheets %}
 <link rel="stylesheet" href="lib/select2/select2.css">
{% endblock %}
{% block scripts %}
<script src="lib/select2/select2.min.js"></script>
<script src="lib/select2/select2_locale_es.js"></script>
<script>
    $(document).ready(function() { $(".select").select2(); });
</script>
{% endblock %}
{% block maincontent %}
<div class="panel panel-info">
    <div class="panel-heading">
{% if local %}
        <h1>¡Bienvenid{{ ['o/a', 'o', 'a'][user.gender] }} {{ user.first_name }}!</h1>
{% else %}
        <h1>Perfiles asignados: {{ userData.display_name }}</h1>
{% endif %}
    </div>
    <div class="panel-body">
    {% if local and not user['is_admin'] %}
        <h3>Por favor, tómate unos minutos para asegurarte de que los datos de la aplicación son correctos</h3>
        <h4>Estos son los perfiles asociados al usuario que aparecen en la base de datos:</h4>
        <ul>
            {% for profile in profiles %}
            <li>{{ [profile['display_name_neutral'], profile['display_name_male'], profile['display_name_female']][userData['gender']] }}{% if profile['display_name'] %} ({{ profile['display_name'] }}){% endif %}</li>
            {% else %}
            <li>No hay ningún perfil registrado</li>
            {% endfor %}
        </ul>
    {% else %}
        <h4>Seleccione los perfiles del usuario</h4>
        <form class="form-horizontal" role="form" method="post" action="{{ url }}">
            <select class="form-control select" multiple id="profiles" name="profiles[]">
                {% for profile in allProfiles %}
                <option value="{{ profile['id'] }}" {% if profiles[profile['id']] %} selected {% endif %}>{{ [profile['display_name_neutral'], profile['display_name_male'], profile['display_name_female']][userData['gender']] }}{% if profile['display_name'] %} ({{ profile['display_name'] }}){% endif %}</option>
                {% endfor %}
            </select><br />
            <button type="submit" name="saveprofiles" class="btn btn-primary">Guardar los cambios</button>
        </form>
    {% endif %}        
    </div>
</div>
{% endblock %}